<div [ngSwitch]="showNeuTeil">
    <div *ngSwitchCase="false" class="">
        <button class="btn btn-secondary" (click)="neuerAufgabenteil()">
            <fa-icon icon="plus"></fa-icon>
            {{'editaufgabe.editaufgabeneteil.addaufgabenteil' | translate}}
        </button>
    </div>
    <div class="bg-secondary p-2" *ngSwitchCase="true">
        {{newObject}}
        <jhi-edit-aufgabenteil (saveClick)="saveNewAufgabenteil()" (deleteClick)="deleteAufgabenteil()" [aufgabenteil]="newAufgabenteil"
                               [speicherBtnText]="'editaufgabe.editaufgabeneteil.aufgabenteilhinzu' | translate">
        </jhi-edit-aufgabenteil>
    </div>
</div>
