<div [ngSwitch]="showNeuTeil">
    <div *ngSwitchCase="false">
        <button class="btn" (click)="neuerAufgabenteil()">Add aufgabenteil</button>
    </div>
    <div *ngSwitchCase="true">
        <select [(ngModel)]="newAufgabenteil.aufgabenteiltyp">
            <option *ngFor="let aufgabenTyp of getAufgabenteilTypList()"
                    [ngValue]="aufgabenTyp">{{aufgabenTyp}}</option>
        </select>
        <div *ngIf="newAufgabenteil.aufgabenteiltyp !== 'YOUTUBE'">
            <label for="textfeld">Text</label>
            <input id="textfeld" type="text" [(ngModel)]="newAufgabenteil.text"/>
        </div>
        <jhi-edit-multiple-choice
            *ngIf="newAufgabenteil.aufgabenteiltyp === 'MULTIPLECHOICE'"></jhi-edit-multiple-choice>
        <div *ngIf="newAufgabenteil.aufgabenteiltyp === 'YOUTUBE'" class="form-group">
            <label for="youtubeLink">YoutubeVideo</label>
            <input id="youtubeLink" type="url" [(ngModel)]="newAufgabenteil.text"/>
        </div>
        <button class="btn btn-success" (click)="saveNewAufgabenteil()">Füge Aufgabenteil hinzu</button>
    </div>
</div>
