<p>createaufgabe works!</p>
<div class="row">
    <h2>Neue Aufgabe erstellen</h2>
    <div class="col-12">
        <label for="aufgabentitel">Aufgabentitel</label>
        <input id="aufgabentitel" [(ngModel)]="getAufgabe().aufgabentitel" [disabled]="!aufgabeNeuanlage" type="text"/>
    </div>
    <div class="col-12">
        <label for="initialeBerwtung">initialeBewertung</label>
        <input [(ngModel)]="getAufgabe().bewertung" [disabled]="!aufgabeNeuanlage" id="initialeBerwtung" type="number"
               min="1" max="5"/>
    </div>
    <div class="col-12">
        <label for="kategorie">kategorie</label>
        <select [(ngModel)]="getAufgabe().kategorie" [disabled]="!aufgabeNeuanlage" id="kategorie">
            <option *ngFor="let kategorie of getKategorieListe()">{{kategorie}}</option>
        </select>
    </div>
    <div class="col-12">
        <label for="tags">tags</label>
        <div id="tags">
            <div *ngFor="let tag of getAufgabe().aufgabentagList">
                <label>{{tag.tag}}</label>
                <button class="btn btn-danger" (click)="removeTag(tag)">X</button>
            </div>
        </div>
        <jhi-add-tag [aufgabe]="getAufgabe()"></jhi-add-tag>
    </div>
    <div class="col-12">
        <h4>Aufgabenteile</h4>
        <jhi-add-aufgabenteil [aufgabe]="getAufgabe()" [laufendeNr]="0"></jhi-add-aufgabenteil>
    </div>
    <div *ngFor="let aufgabenteil of getAufgabe().aufgabenteilList" class="col-12">
        <label>AufgabenteilTyp: {{aufgabenteil.laufenNr}}</label>
        <label>AufgabenteilText: {{aufgabenteil.text}}</label>
        <jhi-add-aufgabenteil [aufgabe]="getAufgabe()" [laufendeNr]="getNumberPlusOne(aufgabenteil.laufenNr)"></jhi-add-aufgabenteil>
    </div>
</div>
