<div class="row pl-3 pb-4">
    <h2 class="col-12">Neue Aufgabe erstellen</h2>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h3 class="ml-3">Aufgabenerstellung</h3>
        <div class="col-12 form-group">
            <label for="aufgabentitel">Aufgabentitel</label>
            <input class="form-control" id="aufgabentitel" [(ngModel)]="getAufgabe().aufgabentitel"
                   [disabled]="!aufgabeNeuanlage" type="text"/>
        </div>
        <div class="col-12 form-group">
            <label for="initialeBerwtung">Initiale Bewertung der Schwierigkeit</label>
            <input class="form-control" [(ngModel)]="getAufgabe().bewertung" [disabled]="!aufgabeNeuanlage"
                   id="initialeBerwtung" type="number"
                   min="1" max="5"/>
        </div>
        <div class="col-12 form-group">
            <label for="kategorie">kategorie</label>
            <select class="form-control" [(ngModel)]="getAufgabe().kategorie" [disabled]="!aufgabeNeuanlage"
                    id="kategorie">
                <option *ngFor="let kategorie of getKategorieListe()">{{kategorie}}</option>
            </select>
        </div>
        <div class="col-12 pb-3 pb-md-4">
            <jhi-edit-tag-leiste [label]="'Tags:'" [subLabel]="'Zum hinzufügen text eingeben und Enter oder , Tippen'"  [aufgabentagList]="getAufgabe().aufgabentagList"></jhi-edit-tag-leiste>
        </div>
        <div class="col-12 pt-md-4 pt-2">
            <h4>Aufgabenteile</h4>
            <jhi-add-aufgabenteil [aufgabe]="getAufgabe()" [laufendeNr]="0"></jhi-add-aufgabenteil>
        </div>
        <div *ngFor="let aufgabenteil of getAufgabe().aufgabenteilList; let i=index" class="col-12">
            <div class="bg-secondary p-2 my-2">
                <jhi-edit-aufgabenteil *ngIf="ediatable.indexOf(i) > -1" (saveClick)="removeFromEditable(i)" [aufgabenteil]="aufgabenteil"></jhi-edit-aufgabenteil>
                <div class="row" *ngIf="ediatable.indexOf(i) === -1">
                    <div class="col-1">
                        <label>{{aufgabenteil.laufenNr}}.</label>
                    </div>
                    <div class="col-9">
                        <div
                            *ngIf="aufgabenteil.aufgabenteiltyp !== 'HTML' && aufgabenteil.aufgabenteiltyp !== 'YOUTUBE'">
                            <label>AufgabenteilTyp: {{aufgabenteil.aufgabenteiltyp}}</label>
                            <br/>
                            <label>AufgabenteilText: {{aufgabenteil.text}}</label>
                        </div>
                        <div *ngIf="aufgabenteil.aufgabenteiltyp === 'MULTIPLECHOICE'">
                            <ul>
                                <li *ngFor="let multi of aufgabenteil.multiplechoiceAntwortenList">
                                    {{multi.label}} {{multi.checkedRichtig ? '(korrekt)' : ''}}
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="aufgabenteil.aufgabenteiltyp === 'HTML'">
                            <label>HTML Tag:</label>
                            <label>{{aufgabenteil.text}}</label>
                        </div>
                        <div *ngIf="aufgabenteil.aufgabenteiltyp === 'YOUTUBE'">
                            <label>YoutubeUrl:</label>
                            <label>{{aufgabenteil.text}}</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-sm btn-secondary" (click)="ediatable.push(i)">
                            <fa-icon icon="edit"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <jhi-add-aufgabenteil [aufgabe]="getAufgabe()"
                                  [laufendeNr]="getNumberPlusOne(aufgabenteil.laufenNr)"></jhi-add-aufgabenteil>
        </div>
        <div class="col-12 mt-3">
            <button (click)="saveAufgabe()" class="btn btn-success">Speicher Aufgabe</button>
            <button (click)="abbrechen()" class="btn btn-danger">Abbrechen</button>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h3>Vorschau</h3>
        <jhi-aufgabe-anzeige [aufgabe]="getAufgabe()"></jhi-aufgabe-anzeige>
    </div>
</div>
