<div [ngSwitch]="showSelect">
    <div *ngSwitchCase="false">
        <button class="btn btn-primary" (click)="showSelect = true"><fa-icon icon="plus"></fa-icon> Add Tag</button>
    </div>
    <div *ngSwitchCase="true">
        <select [(ngModel)]="newTag">
            <option *ngFor="let tag of possibleTags" [ngValue]="tag">{{tag.tag}}</option>
        </select>
        <button *ngIf="newTag" class="btn btn-success" (click)="addTag()"><fa-icon icon="check"></fa-icon> Füge {{newTag.tag}} hinzu</button>
    </div>
</div>
