<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-multiple-choice-antwort-entity-heading" jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.home.createOrEditLabel">Create or edit a Multiple Choice Antwort Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.checked" for="field_checked">Checked</label>
                    <input type="checkbox" class="form-control" name="checked" id="field_checked"
                           formControlName="checked"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.checkedRichtig" for="field_checkedRichtig">Checked Richtig</label>
                    <input type="checkbox" class="form-control" name="checkedRichtig" id="field_checkedRichtig"
                           formControlName="checkedRichtig"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.aufgabenteil" for="field_aufgabenteil">Aufgabenteil</label>
                    <select class="form-control" id="field_aufgabenteil" name="aufgabenteil" formControlName="aufgabenteil">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aufgabenteilEntityOption.id === editForm.get('aufgabenteil')!.value?.id ? editForm.get('aufgabenteil')!.value : aufgabenteilEntityOption" *ngFor="let aufgabenteilEntityOption of aufgabenteilentities; trackBy: trackById">{{ aufgabenteilEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
