<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="multipleChoiceAntwortEntity">
            <h2><span jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.detail.title">Multiple Choice Antwort Entity</span> {{ multipleChoiceAntwortEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.checked">Checked</span></dt>
                <dd>
                    <span>{{ multipleChoiceAntwortEntity.checked }}</span>
                </dd>
                <dt><span jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.checkedRichtig">Checked Richtig</span></dt>
                <dd>
                    <span>{{ multipleChoiceAntwortEntity.checkedRichtig }}</span>
                </dd>
                <dt><span jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.label">Label</span></dt>
                <dd>
                    <span>{{ multipleChoiceAntwortEntity.label }}</span>
                </dd>
                <dt><span jhiTranslate="lernprogrammApp.multipleChoiceAntwortEntity.aufgabenteil">Aufgabenteil</span></dt>
                <dd>
                    <div *ngIf="multipleChoiceAntwortEntity.aufgabenteil">
                        <a [routerLink]="['/aufgabenteil-entity', multipleChoiceAntwortEntity.aufgabenteil?.id, 'view']">{{ multipleChoiceAntwortEntity.aufgabenteil?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/multiple-choice-antwort-entity', multipleChoiceAntwortEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
