<div class="row">
    <h2 class="col">{{'profilseite.begruessung.anrede' | translate}} {{getName()}},</h2>
</div>
<div class="row">
    <p class="col" jhiTranslate="profilseite.begruessung.anredeText"></p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <label jhiTranslate="profilseite.begruessung.rangTitle"></label>
        <label>1203</label>
    </div>
    <div class="col-sm-12 col-md-6">
        <label jhiTranslate="profilseite.begruessung.aufgabenTitle"></label>
        <button class="btn" (click)="navigateToAufgabe()">Aufgabe</button>
        <jhi-aufgabenverwaltung></jhi-aufgabenverwaltung>
    </div>
</div>

<p>profilseite works!</p>
