<div class="row">
    <h2 class="col">{{'profilseite.begruessung.anrede' | translate}} {{getName()}},</h2>
</div>
<div class="row">
    <p class="col" jhiTranslate="profilseite.begruessung.anredeText"></p>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <label jhiTranslate="profilseite.begruessung.rangTitle"></label>
        <label>1203</label>
    </div>
    <div class="col-sm-12 col-md-6 row">
        <label class="col-12" jhiTranslate="profilseite.begruessung.aufgabenTitle"></label>
        <button class="btn btn-success col-12" (click)="navigateToAufgabe()">Aufgabe (id: {{newAufgabeId}})</button>
        <button class="btn btn-success col-12" (click)="navigateToAufgabeEins()">Aufgabe (id: 1)</button>
        <jhi-aufgabenverwaltung [eigeneAufgaben]="profil.aufgaben"></jhi-aufgabenverwaltung>
    </div>
</div>
