<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produktEntity">
            <h2><span jhiTranslate="lernprogrammApp.produktEntity.detail.title">Produkt Entity</span> {{ produktEntity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lernprogrammApp.produktEntity.name">Name</span></dt>
                <dd>
                    <span>{{ produktEntity.name }}</span>
                </dd>
                <dt><span jhiTranslate="lernprogrammApp.produktEntity.bewertung">Bewertung</span></dt>
                <dd>
                    <span>{{ produktEntity.bewertung }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produkt-entity', produktEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
