@import '../../../content/scss/bootstrap-variables';

.card {
  border-width: 0px !important;

  &.bg-red {
    background-color: rgba($red, .3);
  }

  &.bg-green {
    background-color: rgba($green, .3);
  }
}
