<h3>OK Nice, du hast du Aufgabe Abgeschlossen!</h3>
<p>Dein Ergebnis ist {{ergebnisUser}} von 5 ({{(ergebnisUser / 5) * 100}}%)!</p>
<details>
    <summary>Ergebniss der Aufgabenteile</summary>
    <div *ngFor="let aufgabenteil of aufgabe?.aufgabenteilList">
        <div *ngIf="aufgabenteil.aufgabenteiltyp==='MULTIPLECHOICE'" class="card"
             [class.green-background]="isAufgabenteilCorrect(aufgabenteil)"
             [class.red-background]="!isAufgabenteilCorrect(aufgabenteil)">
            <label>{{aufgabenteil.text}}</label>
            <div *ngFor="let multiAntwort of aufgabenteil.multiplechoiceAntwortenList; let i = index">
                <label for="'checkbox' + i">{{multiAntwort.label}}</label>
                <input type="checkbox" id="'checkbox' + i" disabled [(ngModel)]="multiAntwort.checked">
                <fa-icon [icon]="multiAntwort.checked === multiAntwort.checkedRichtig ? 'check':'times'"></fa-icon>
            </div>
        </div>
    </div>
</details>
<p>Wenn du willst, kannst du die Aufgabe noch bewerten:</p>
<ng-rating-bar
    [(value)]="bewertung"
    [ratingCount]="5"
></ng-rating-bar>
<p>Aktuelle Bewertung: {{bewertung}}</p>
<button class="btn btn-success" (click)="close()">Mach nen Closer</button>
