<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profil-entity-heading" jhiTranslate="lernprogrammApp.profilEntity.home.createOrEditLabel">Create or edit a Profil Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.profilEntity.profilId" for="field_profilId">Profil Id</label>
                    <input type="text" class="form-control" name="profilId" id="field_profilId"
                           formControlName="profilId"/>
                    <div *ngIf="editForm.get('profilId')!.invalid && (editForm.get('profilId')!.dirty || editForm.get('profilId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('profilId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.profilEntity.vorname" for="field_vorname">Vorname</label>
                    <input type="text" class="form-control" name="vorname" id="field_vorname"
                           formControlName="vorname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.profilEntity.nachname" for="field_nachname">Nachname</label>
                    <input type="text" class="form-control" name="nachname" id="field_nachname"
                           formControlName="nachname"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
