<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-aufgabenhistorie-entity-heading" jhiTranslate="lernprogrammApp.aufgabenhistorieEntity.home.createOrEditLabel">Create or edit a Aufgabenhistorie Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.aufgabenhistorieEntity.datum" for="field_datum">Datum</label>
                    <div class="input-group">
                        <input id="field_datum" type="text" class="form-control" name="datum" ngbDatepicker #datumDp="ngbDatepicker" formControlName="datum"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datumDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.aufgabenhistorieEntity.bewertungsveraenderung" for="field_bewertungsveraenderung">Bewertungsveraenderung</label>
                    <input type="number" class="form-control" name="bewertungsveraenderung" id="field_bewertungsveraenderung"
                           formControlName="bewertungsveraenderung"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.aufgabenhistorieEntity.profil" for="field_profil">Profil</label>
                    <select class="form-control" id="field_profil" name="profil" formControlName="profil">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilEntityOption.id === editForm.get('profil')!.value?.id ? editForm.get('profil')!.value : profilEntityOption" *ngFor="let profilEntityOption of profilentities; trackBy: trackById">{{ profilEntityOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lernprogrammApp.aufgabenhistorieEntity.aufgabe" for="field_aufgabe">Aufgabe</label>
                    <select class="form-control" id="field_aufgabe" name="aufgabe" formControlName="aufgabe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aufgabeEntityOption.id === editForm.get('aufgabe')!.value?.id ? editForm.get('aufgabe')!.value : aufgabeEntityOption" *ngFor="let aufgabeEntityOption of aufgabeentities; trackBy: trackById">{{ aufgabeEntityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
