<div>
    <button class="btn" (click)="navigateToNewAufgabe()" jhiTranslate="profilseite.begruessung.neueAufgabe"></button>
    <div>
        <label>Meine erstellten Aufgaben</label>
        <ul>
            <li *ngFor="let aufgabe of eigeneAufgaben">
                <button (click)="navigateToEditAufgabe(aufgabe.aufgabeId)" [title]="'bearbeite ' + aufgabe.aufgabentitel" class="btn btn-sm"><fa-icon icon="edit"></fa-icon></button>
                <label>{{aufgabe.aufgabentitel}}</label>
            </li>
        </ul>
    </div>
</div>
