@import 'bootstrap-variables';
$mat-custom-primary: (
  50: $font-color-primary,
  100: $font-color-primary,
  200: $font-color-primary,
  300: $font-color-primary,
  400: $font-color-primary,
  500: $font-color-primary,
  600: $font-color-primary,
  700: $font-color-primary,
  800: $font-color-primary,
  900: $font-color-primary,
  A100: $font-color-primary,
  A200: $font-color-primary,
  A400: $font-color-primary,
  A700: $font-color-primary,
  contrast: (
    50: $primary,
    100: $primary,
    200: $primary,
    300: $primary,
    400: $primary,
    500: $primary,
    600: $primary,
    700: $primary,
    800: $primary,
    900: $primary,
    A100: $primary,
    A200: $primary,
    A400: $primary,
    A700: $primary,
  )
);

$mat-custom-success: (
  50: $font-color-success,
  100: $font-color-success,
  200: $font-color-success,
  300: $font-color-success,
  400: $font-color-success,
  500: $font-color-success,
  600: $font-color-success,
  700: $font-color-success,
  800: $font-color-success,
  900: $font-color-success,
  A100: $font-color-success,
  A200: $font-color-success,
  A400: $font-color-success,
  A700: $font-color-success,
  contrast: (
    50: $success,
    100: $success,
    200: $success,
    300: $success,
    400: $success,
    500: $success,
    600: $success,
    700: $success,
    800: $success,
    900: $success,
    A100: $success,
    A200: $success,
    A400: $success,
    A700: $success,
  )
);

$mat-custom-danger: (
  50: $font-color-danger,
  100: $font-color-danger,
  200: $font-color-danger,
  300: $font-color-danger,
  400: $font-color-danger,
  500: $font-color-danger,
  600: $font-color-danger,
  700: $font-color-danger,
  800: $font-color-danger,
  900: $font-color-danger,
  A100: $font-color-danger,
  A200: $font-color-danger,
  A400: $font-color-danger,
  A700: $font-color-danger,
  contrast: (
    50: $danger,
    100: $danger,
    200: $danger,
    300: $danger,
    400: $danger,
    500: $danger,
    600: $danger,
    700: $danger,
    800: $danger,
    900: $danger,
    A100: $danger,
    A200: $danger,
    A400: $danger,
    A700: $danger,
  )
);
