<label *ngIf="label !== undefined">{{label}}</label>
<p class="small" *ngIf="subLabel !== undefined">{{subLabel}}</p>
<mat-form-field class="example-chip-list" appearance="fill">
    <mat-chip-list #chipList [selectable]="selectable">
        <mat-chip class="bg-secondary" *ngFor="let tag of aufgabentagList" (click)="toggleTag(tag)"
                  [removable]="removable" (removed)="remove(tag)" [class.selected]="tag.selected">
            {{tag.tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input *ngIf="addAble" placeholder="Neuer Tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>
